.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.modal-open {
  visibility: visible;
  opacity: 1;
}

.form {
  width: 430px;
  min-height: 380px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 34px 36px 28px;
  position: relative;
}

.form__heading {
  margin: 0;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1a1b22;
}

.form__label {
  color: #2f71e5;
  display: block;
  margin-bottom: 9px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.form__input {
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 31px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 11px;
}

.form__input:last-of-type {
  margin: 0;
}

.form__button {
  padding: 0;
  display: block;
  width: 100%;
  margin-top: 43px;
  height: 64px;
  border: none;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.form__button-close {
  background: url(../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -35px;
  right: -35px;
  padding: 0;
  cursor: pointer;
}

.form__text {
  padding: 0;
  margin: 16px 0 0 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.form__link {
  color: #2f71e5;
  text-decoration: none;
}

/* Error Input */
/* .form__input-error {
  margin: 0;
  padding: 0;
  color: red;
  transform: translateY(-28px);
  display: none;
}

.form__text-error {
  text-align: center;
  margin: 0;
  padding: 0;
  color: red;
  transform: translateY(32px);
  display: none;
} */
