.form__button-submit {
  padding: 0;
  display: block;
  width: 100%;
  margin-top: 43px;
  height: 64px;
  border: none;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.form__button-submit-disabled {
  background: #e6e8eb;
  cursor: not-allowed;
  box-shadow: none;
  color: #b6bcbf;
}

@media screen and (max-width: 600px) {
  .form__button-submit {
    margin-top: 23px;
  }
}
