.navbar {
  width: 100%;
  height: 80px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
}

.navbar__logo {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.navbar__link {
  margin-right: 54px;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.navbar__link-signin {
  display: inline-block;
  text-align: center;
  width: 176px;
  margin: 0;
  padding: 12px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
}

.navbar__link-active {
  border-bottom: 3px solid #fff;
  padding: 0 10px 26px 10px;
}

.navbar__link-inactive {
  border-bottom: none;
}

.logout__icon {
  width: 17.41px;
  height: 16px;
  margin-left: 30px;
}

/* Light Navbar */
.navbar_type_light {
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.navbar__logo_type_light {
  color: #1a1b22;
}

.navbar__link_type_light {
  color: #1a1b22;
}

.navbar__link-signin_type_light {
  color: #1a1b22;
  border: 1px solid #d1d2d6;
}

.navbar__link-active_type_light {
  border-bottom: 3px solid #1a1b22;
  padding: 0 10px 26px 10px;
}

/* Hamburger Menu */
.hamburger {
  padding: 8px 4px;
  width: 24px;
  height: 24px;
  background: #000;
  position: relative;
  background: transparent;
  border: none;
  display: none;
}

.hamburger__line-first {
  position: absolute;
  min-width: 16px;
  height: 2px;
  background: #fff;
  top: 8px;
}

.hamburger__line-first_type_light {
  background-color: #000;
}

.hamburger__line-second {
  position: absolute;
  min-width: 16px;
  height: 2px;
  background: #fff;
  bottom: 8px;
}

.hamburger__line-second_type_light {
  background-color: #000;
}

.open-first {
  transform: rotate(45deg);
  top: 10px;
}

.open-second {
  transform: rotate(-45deg);
  bottom: 12px;
}

.navbar__links-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar {
    height: 66px;
    padding: 0 40px;
  }
  .navbar__link {
    font-size: 16px;
  }
  .navbar__link-signin {
    width: 152px;
  }
  .navbar__link-active {
    padding-bottom: 20px;
  }
  .navbar__link-active_type_light {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .hamburger {
    display: flex;
  }
  .navbar__links {
    display: none;
  }
  .navbar {
    height: 56px;
    padding: 0 16px;
  }

  .navbar__links-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    left: 0;
    background-color: #000;
    width: 100%;
    min-height: 174px;
    padding: 16px;
  }
  .navbar__link-active {
    border: none;
    color: #fff;
  }
  .navbar__link-active_type_light {
    border: none;
    color: #fff;
  }
  .navbar__logo {
    color: #fff;
  }
  .navbar__link {
    font-size: 18px;
    line-height: 56px;
    padding: 0;
  }
  .navbar__link-signin {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar_type_light {
    background: #ffffff;
    box-shadow: inset 0px -1px 0px #d1d2d6;
  }
  .navbar__logo_type_light {
    color: #000;
  }
  .navbar-open {
    background-color: #000;
  }
}
