.header {
  background: url(../../images/banner.png);
  width: 100%;
  min-height: 576px;
}

.header__container {
  max-width: 608px;
  margin: auto;
  padding: 160px 0 0 0;
  color: #fff;
}

.header__title {
  margin: 0 0 32px 0;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
}

.header__subtitle {
  margin: 0 0 88px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
