.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 105px;
}

.footer__text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0;
}

.footer__group {
  display: flex;
}

.footer__list_type_links {
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.footer__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
}

.footer__list-item_type_link {
  width: 112px;
  text-align: center;
}

.footer__list_type_icons {
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__list-item_type_icon {
  margin-right: 24px;
}

.footer__icon-img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 900px) {
  .footer {
    height: 64px;
    padding: 24px 40px 18px 40px;
  }
  .footer__list-item_type_link {
    width: 88px;
  }
  .footer__list_type_links {
    margin-right: 24px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    height: 176px;
    padding: 20px 16px 22px 16px;
    flex-direction: column-reverse;
  }
  .footer__list_type_links {
    flex-direction: column;
    width: 200px;
    height: 72px;
    justify-content: space-between;
  }
  .footer__list-item_type_link {
    width: 0;
    font-size: 18px;
  }
  .footer__group {
    height: 72px;
  }
  .footer__list_type_links {
    margin: 0 18px 0 0;
  }
  .footer__text {
    width: 288px;
  }
  .footer__list_type_icons {
    margin: 0;
  }
}
