.form__button-close {
  background: url(../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -35px;
  right: -35px;
  padding: 0;
  cursor: pointer;
}
